body { background-color: #0A0A0A; }

.divMainContainer {
            background-color : #1F1F1F;
            overflow : hidden;
            color : #CCCCCC;
            border : 2px solid teal; 
            height: 98%;
            width: 98%;
            margin: auto;
        }         

.toolbar {
    color: orange;
    padding: 10px;
    font-size: 10px;
    border-bottom: 1px solid #787878;
    overflow: auto;
}

.toolbarText {
    display: inline block;
    margin: auto;
    text-align: center;
    font-size: 14;
}

.toolbarButtons {
    float: left;
    text-align: center;
}

.divLeftPanel {
            width : 275px;
            float : left; 
            padding-top: 5px;
      }

.divRightPanel {
            width : auto ;
            overflow : auto ;
            border-left : 1px solid #787878; 
        }

.divSvgPanel {
            height: 3000px;
            width: 3000px;
        }

.svg {
    height : 100%;
    width: 100%;
    background-color: #21190B;
  }
 
.divPropertyPanel {
            position: absolute;
            bottom: 0;
            height : 200px ;
            border-top : 1px solid #787878;
        }

.debugPanel {
    margin-top: 20px;
    border-top: 2px solid orange;
   }

.selectedNodeListDiv {
        border : 1px solid #004157;
        margin-bottom : 2px;
        background-color : #024A00;
    }

.nodeListDiv {
        border : 1px solid #004157;
        margin-bottom : 2px;
    }

.connectorLine {
    stroke: rgb(255,0,0);
    stroke-width: 2;
}


.svg .rect {
    fill: #070629;
    stroke: lime;
    stroke-width: 2px;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    -o-user-select:none;
    user-select:none;
}

.svg .selected {
    stroke: yellow;
    stroke-width: 3px;
}

.svg .text {
    font-size: 17px;
    fill: lime;
    -webkit-touch-callout: none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    -o-user-select:none;
    user-select:none;
}
